
*{
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}


.top-sec{
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
   
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 8%;
    margin-top: 90px;
    padding-left: 10px;
}
.half-width img{
    width: 100%;
}

h2{
    margin-top: 140px;
    font-size:30px;
}

h1{
    font-weight: bold;
    margin-top: 10px;
    font-size: 55px;
    color:rgb(252, 78, 165);
    margin-bottom: 30px;
}
p{
    margin-bottom: 50px;
    color: gray;
}

.btn{

    text-decoration: none;
    background-image:linear-gradient(45deg ,rgb(240, 73, 101),rgb(245, 38, 141));
    color:black;
    padding: 8px 30px;
    border-radius: 3px;
    font-size: 15px;
    

}